@import '../vars';

.g-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
  grid-gap: .2fr;
  background:
    // url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGklEQVQYlWNgoADMhGKcknh1ki5JlH3k6QYAxV8GlEe+fEEAAAAASUVORK5CYII=) repeat,
    linear-gradient(to bottom, rgba(69,123,145,0.14), rgba(69,194,163,0.87)),
    url('#{$images}/refused-stage-vic-theatre-chicago.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgba(43,14,14,.85);
  text-shadow: .1rem -.1rem 1em #21f,
    .1rem -.5rem .2em #ff1122,
    .1rem .2rem .3em #11ff22,
    1.9rem -1.9rem 4em #fff
  ;
  grid-template-areas:
    "who . ."
    ". what when"
    ". . where"
    "how . ."
    ". why .";
  .who {
    grid-area: who }
  .what {
    grid-area: what }
  .when {
    grid-area: when }
  .where {
    grid-area: where }
  .how {
    grid-area: how }
  .why {
    grid-area: why }
}
